<div class="page page-dashboard" id="user" ng-controller="dashCtrl">
	<div class="row div-img-dash" style="text-align:center" >
 		<img style="margin-top:2%" class="img-dash" id="img-dash" alt="logo" src="images/icon.png"> 
 	</div>
 	<div class="row" style="text-align:center">
		<a type="button" href="#/calculadora" class="botao-novo btn btn-primary btn-lg">Usar Calculadora</a>
	</div>

</div>
  