<div class="form" role="dialog" ng-controller="calculadoraCtrl">
   
      <div id="form calculadora" style="margin-top:2%; padding:2%">
                  
            <div class="form-group row"> 
              <div class="col-md-12"> 
                  
                <label>Nome do Medicamento</label>               
                <select class="form-control" ng-options="medicamento as medicamento.Nomecomercial for medicamento in medicamentos" ng-model="selected"></select>
              
              </div>
            </div>
            <div class="form-group row"> 
              <div class="col-md-6"> 
                <label>Peso (kg)</label>               
                <input type="number" placeholder="" class="form-control" id="nome" data-ng-model="peso"> 
              </div>
              <div class="col-md-6"> 
                <label>Espécie</label>               
                 <select class="form-control" ng-options="especie as especie.nome for especie in especies" ng-model="selected_especie"></select>
              </div> 
            </div> 
            <a type="button" ng-click="calcular()" class="btn btn-primary btn-lg" >Calcular</a> 
            <hr>
            <h2> Dose: {{resultado}} </h2>
               
      </div>
</div> 
            
            