<div class="form" role="dialog" ng-controller="medicamentoDetailCtrl">
   
      <div id="form" style="margin-top:2%">
        <div ng-show="mostrar_alerta" class="alert alert-success">
            <strong>Medicamento salvo com sucesso</strong> 
          </div>
          <form name="formulario">
            <div class="form-group row"> 
              <div class="col-md-6"> 
              <label>Nome</label>               
                <input type="text" placeholder="" class="form-control" id="nome" data-ng-model="medicamento.Nome"> 
              </div>
              <div class="col-md-6"> 
              <label>Nome Álias</label>               
                <input type="text" placeholder="" class="form-control" id="nome" data-ng-model="medicamento.Nomecomercial"> 
              </div>  
            </div>
             <div class="form-group row">   
              <div class="col-md-4">   
                <label>Dose Felino (mg)</label>          
                <input type="text" placeholder="" class="form-control" id="nome" data-ng-model="medicamento.DoseGato">  
              </div>
              <div class="col-md-4">   
                <label>Dose Canino (mg)</label>          
                <input type="text" placeholder="" class="form-control" id="nome" data-ng-model="medicamento.DoseCao">  
              </div>
            
              
              <div class="col-md-4"> 
                <label>Concentração (mg/ml)</label>          
                <input type="text" placeholder="" class="form-control" id="nome" data-ng-model="medicamento.Concentracao">  
              </div>
              </div>  
            
            </div> 
            
            
               <button type="button" ng-click="salvar()" class="botao-novo pull-right btn btn-primary btn-lg" ng-disabled="formulario.$invalid">Salvar</button> 
          
        </form>
        
      </div>
    
</div>