<div class="page page-dashboard" id="user" ng-controller="medicamentoCtrl"> 
<h1>Medicamentos</h1>
  <div ng-show="deletado" class="alert alert-success">
            <strong>Medicamento deletado com sucesso</strong> 
          </div>
    
      <input type="text"  class="form-control pull-left" style="width:50%; margin-top:5%" ng-model="searchText" placeholder="Procurar...">
  
<a type="button" href="#/medicamento-detalhe" class="botao-novo pull-right btn btn-primary btn-lg">Novo Medicamento</a>

<table class="table table-responsive table-striped">
 
   <thead>
    <tr>
      <th>Nome</th>
      <th>Nome Comercial</th>
      <th>Dose Canino</th>
      <th>Dose Felino</th>
      <th>Concentração</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
   <tr ng-repeat="m in medicamentos | filter:searchText">
    <td style="cursor:pointer; hover:blue" ng-click="goTo(m)">{{ m.Nome }}</td>
    <td style="cursor:pointer; hover:blue" ng-click="goTo(m)">{{ m.Nomecomercial }}</td>
    <td style="cursor:pointer; hover:blue" ng-click="goTo(m)">{{ m.DoseCao }}</td>
    <td style="cursor:pointer; hover:blue" ng-click="goTo(m)">{{ m.DoseGato }}</td>
    <td style="cursor:pointer; hover:blue" ng-click="goTo(m)">{{ m.Concentracao }}</td>
    <td style="cursor:pointer; hover:blue" ><button ng-click="deletar(m)" class="btn btn-danger btn-sm">Deletar</button></td>
  </tr>
</tbody>
</table>


</div>
  