/***
MAPA
***/


/*************/

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}




@media only screen and (min-width: 1000px) {
  /***
  TOPO
  ***/
  #nav-topo{
      background-color: #F5FFFA;
      z-index: 200;
  }
.img-dash{
  margin-left: 36%;
  margin-right: auto;
  display: block;
}


  .menu_list{

    background-color: #488d14;
    border-radius: 10px 10px 0 0;
    margin-left:10px;

  }


  .navbar-nav{
      margin-top: 40px;
      font-size: 22px;
      margin-bottom: 0px
  }
  .navbar-default .navbar-nav>li>a {
      color: #000;
  }
  #img-logo{
      margin-top: 8px;
     
      float:left;
      width: 23%

     
  }

  #img-dash{
     
      margin-top: 8px;
     
      float:left;
      width: 23%

     
   }

  #navbar_mobile{
    display:none;
  }

   #menu-header{
    margin-right: 10px;
  }

  #myNavbar{
    display:none!important;
  }
  .menu_list{
    margin-right:10px;

  }

  #menu-header-text{
    color:white;
    
  }



  .title{
      color: white;
    float:left;
     margin-top: 30px;
      margin-left:30px;
  }

  .noJS{
    display:none;
  }

  #categorias_menu{
     background-color: #4682b4;
     color: white;     
     padding-top: 30px;
     padding-left: 20px;
    height: 100vh;
    
     
  }

   #categorias_menu a{
   
     color: white;
     padding-left: 20px;
  }

  #categorias_menu li{
    padding-bottom: 30px
  }

    #categorias_menu-alt{
     background-color: #488d14;
     color: white;     
     padding-top: 20px;
     height: 100%
  }

    #categorias_menu-alt a{   
     color: white;
  }

  

  ul{
    list-style-type:none;
    padding-left: 0;
  }

  li{
    list-style-type:none;
 
  }
  .menu-title{
    font-size:20px;    
  }
  .menu-subtitles{
    font-size: 16px;

  }

  .menu-subtitles a{
    cursor: default;
  }

  .botao-novo{
    margin-top:5%;
    margin-right:5%;
  }

  .div-img-dash{
    margin-top:2%
  }


}


@media only screen and (max-width: 1000px) {
  /***
  MOBILE
  ***/
  #nav-topo{
      background-color:  #F5FFFA;
  }

  

  #img-dash{
    margin-top: 10%;
    width: 50%; 
    margin-bottom: 10%;
  }

  .div-img-dash{
  margin-top:6%
  }



  .menu_list{

    background-color: #008E00;
    border-radius: 10px 10px 0 0;
    margin-left:10px;

  }
#map {
    width: 100%; 
    height: calc(100% - 500px); 
    position: relative;
    height: 100%;
}

#myNavbar{
   background-color: #488d14;
     color: white;
     
     text-align: center;
}



  .navbar-nav{
      margin-top: 0px;
      font-size: 10px;
      margin-bottom: 0px
  }
  .navbar-default .navbar-nav>li>a {
      color: #000;
  }
  #img-logo{
      margin-left:10px;
      width: 30%
     
     
  }

  #menu-header{
    display:none;
  }

  .title{
      display: none
    
  }

  .noJS{
    display:none;
  }

  #categorias_menu{
    background-color: #488d14;
     display:none;
  }

  #categorias_menu-alt{
    display: none;
  }

   #navbar_mobile a{
   
     color: white;
  }

  ul{
    list-style-type:none;
    
  }

  li{
    list-style-type:none;
    padding-bottom: 10px;
  }
  .menu-title{
    font-size:20px;    
  }
  .menu-subtitles{
    font-size: 16px;
   
  }

  .menu-subtitles a{
    cursor: default;
  }
  
    .filtroCat:hover{
        font-weight: bold!important;
    }
}

#myNavbar ul{
  padding: 0px!important;
}
  