<div class="page page-dashboard" id="user" ng-controller="pacienteCtrl"> 
<h1>Pacientes</h1>
<div ng-show="deletado" class="alert alert-success">
            <strong>Paciente deletado com sucesso</strong> 
          </div>
  
    
      <input type="text"  class="form-control pull-left" style="width:50%; margin-top:5%" ng-model="searchText" placeholder="Procurar...">
  
<table class="table table-responsive table-striped">
 
   <thead>
    <tr>
      <th>Nome</th>
      <th>Espécie</th>
      <th>Nome do Proprietário</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
   <tr ng-repeat="p in pacientes | filter:searchText">
    <td style="cursor:pointer; hover:blue" ng-click="goTo(p)">{{ p.nome }}</td>
    <td style="cursor:pointer; hover:blue" ng-click="goTo(p)">{{ p.especie }}</td>
    <td style="cursor:pointer; hover:blue" ng-click="goTo(p)">{{ p.nome_cliente}}</td>
    <td style="cursor:pointer; hover:blue" ><button ng-click="deletar(p)" class="btn btn-danger btn-sm">Deletar</button></td>
  </tr>
</tbody>
</table>


</div>
  