<div class="form" role="dialog" ng-controller="pacienteClienteDetailCtrl">
   
      <div id="form" style="margin-top:2%">
        <form name="formulario">
          
            <div class="form-group row"> 
              <div class="col-md-4">   
                 <label>Nome</label>               
                 <input type="text" placeholder="" class="form-control" id="nome" data-ng-model="paciente.nome"> 
              </div>
             <div class="col-md-4"> 
                <label>Espécie</label>               
                 <select class="form-control" ng-options="especie as especie.nome for especie in especies" ng-model="selected_especie"></select>
              </div> 
              <div class="col-md-4">   
                <label>Peso (kg)</label>          
                <input type="number" placeholder="" class="form-control" id="nome" data-ng-model="paciente.peso">  
              </div>
            </div>
             <hr>
           
               <button type="button" ng-click="salvar()" class="botao-novo pull-right btn btn-primary btn-lg" ng-disabled="formulario.$invalid">Adicionar ao cliente</button>  
          
        
        </form>
      </div>
    
</div>