<div class="form" role="dialog" ng-controller="pacienteDetailCtrl">
   
      <div id="form" style="margin-top:2%">
        <div ng-show="mostrar_alerta" class="alert alert-success">
            <strong>Paciente salvo com sucesso</strong> 
          </div>
          <form name="formulario">
            <div class="form-group row"> 
              <div class="col-md-4">   
                 <label>Nome</label>               
                 <input type="text" placeholder="" class="form-control" id="nome" data-ng-model="paciente.nome"> 
              </div>
              <div class="col-md-4">   
                <label>Espécie</label>          
                <input type="text" placeholder="" readonly class="form-control" id="nome" data-ng-model="paciente.especie">  
              </div>
              <div class="col-md-4">   
                <label>Peso</label>          
                <input type="number" placeholder="" class="form-control" id="nome" data-ng-model="paciente.peso">  
              </div>
            </div>
            <button type="button" ng-click="salvar()" class="btn btn-primary" ng-disabled="formulario.$invalid">Salvar</button> 
          </form>
             <hr>
          <form name="formulariomed">
            <h3>Adicionar Medicamento</h3>
            <div class="form-group row"> 
             <div class="col-md-6">   
                <label>Nome do Medicamento</label>               
                <select class="form-control" ng-change="calculadose(selected)" ng-options="medicamento as medicamento.Nomecomercial for medicamento in medicamentos" ng-model="selected"></select>
              </div>
              <div class="col-md-6">   
                <label>Dose Utilizada (ml)</label>          
                <input type="number" placeholder="" class="form-control" id="nome" data-ng-model="dose">  
              </div>
            </div>
            <button type="button" ng-click="addmedicamento()" class="btn btn-primary" ng-disabled="formulariomed.$invalid" >Adicionar</button> 
          </form>
            <hr>
              <input type="text"  class="form-control" style="width:50%; margin-top:5%; margin-bottom:2%" ng-model="searchText" placeholder="Procurar...">



              <table class="table table-responsive table-striped">
 
                 <thead>
                  <tr>
                    <th>Data de Atendimento</th>
                    <th>Medicamento</th>
                    <th>Dose Utilizada</th>
                  </tr>
                </thead>
                <tbody>
                 <tr ng-repeat="m in lista_medicamentos | filter:searchText">
                  <td>{{ m.data }}</td>
                  <td>{{ m.nome }}</td>
                  <td>{{ m.doseutilizada }} ml</td>
                 </tr>
                </tbody>
              </table>
               
          
        
        
      </div>
    
</div>
