<div class="form" role="dialog" ng-controller="userDetailCtrl">
   
      <div id="form" style="margin-top:2%">
         <div ng-show="mostrar_alerta" class="alert alert-success">
            <strong>Usuário salvo com sucesso</strong> 
          </div>
          <form name="formulario">
            <div class="form-group"> 
              <label>Nome Completo</label>               
              <input type="text" placeholder="" class="form-control" id="nome" data-ng-model="cliente.nome" required>
            </div>
             <div class="form-group row">   
              <div class="col-md-6">   
                <label>Telefone</label>          
                <input type="text" placeholder="" class="form-control" id="nome" data-ng-model="cliente.telefone" required>  
              </div>
              <div class="col-md-6"> 
                <label>CPF</label>          
                <input type="text" placeholder="" class="form-control" id="nome" data-ng-model="cliente.cpf" required>  
              </div>
            </div> 
            <div class="form-group"> 
              <label>Endereço</label>               
              <input type="text" placeholder="" class="form-control" id="nome" data-ng-model="cliente.endereco" required>  
            </div>
            <h3>Paciente</h1>
            <button type="button" style="margin-top:1%" ng-click="addpaciente()" ng-disabled="formulario.$invalid" class=" btn btn-info btn-sm">Adicionar Paciente ao Cliente</button> 
              
            <div class="form-group row" style="margin-top:2%" ng-repeat="p in pacientes" ng-show="qtd_paciente > 0">   
              <div class="col-md-4">   
                <label>Nome</label>          
                <input type="text" placeholder="" class="form-control" id="nome" data-ng-model="p.nome">  
              </div>
              <div class="col-md-4"> 
                <label>Espécie</label>
                <input type="text" readonly placeholder="" class="form-control" id="nome" data-ng-model="p.especie">  
              </div>
              <div class="col-md-4"> 
                <label>Peso (kg)</label>          
                <input type="number" placeholder="" class="form-control" id="nome" data-ng-model="p.peso">  
              </div>
              
            </div>
          
               <button type="button"  ng-click="salvar()" class="botao-novo pull-right btn btn-primary btn-lg" ng-disabled="formulario.$invalid">Salvar</button> 
         
        </form>
        
      </div>
    
</div>