<div class="page page-dashboard" id="user" ng-controller="userCtrl"> 
<h1>Clientes</h1>
    <div ng-show="deletado" class="alert alert-success">
            <strong>Usuário deletado com sucesso</strong> 
          </div>
    
      <input type="text"  class="form-control pull-left" style="width:50%; margin-top:5%" ng-model="searchText" placeholder="Procurar...">
  
<a type="button" href="#/cliente-detalhe" class="botao-novo pull-right btn btn-primary btn-lg">Novo Cliente</a>

<table class="table table-responsive table-striped">
 
   <thead>
    <tr>
      <th>Nome</th>
      <th>Telefone</th>
      <th>Endereço</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
   <tr ng-repeat="c in clientes | filter:searchText">
    <td style="cursor:pointer; hover:blue" ng-click="goTo(c)">{{ c.nome }}</td>
    <td style="cursor:pointer; hover:blue" ng-click="goTo(c)">{{ c.telefone }}</td>
    <td style="cursor:pointer; hover:blue" ng-click="goTo(c)">{{ c.endereco }}</td>
    <td style="cursor:pointer; hover:blue" ><button ng-click="deletar(c)" class="btn btn-danger btn-sm">Deletar</button></td>
  </tr>
</tbody>
</table>


</div>
  